<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <welcome-file-list>
  <welcome-file>Home.html</welcome-file>
  </welcome-file-list> 
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DispatcherSevlet</servlet-name>
  	<display-name>DispatcherSevlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.DispatcherSevlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorHandlerController</servlet-name>
  	<display-name>ErrorHandlerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.exceptions.ErrorHandlerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticateUser</servlet-name>
  	<display-name>AuthenticateUser</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.AuthenticateUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeController</servlet-name>
  	<display-name>EmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindCustomerById</servlet-name>
  	<display-name>FindCustomerById</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.FindCustomerById</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayEmployeeList</servlet-name>
  	<display-name>DisplayEmployeeList</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.DisplayEmployeeList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEmployeeController</servlet-name>
  	<display-name>DeleteEmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.DeleteEmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<display-name>DeleteCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerControllerTransaction</servlet-name>
  	<display-name>CustomerControllerTransaction</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.CustomerControllerTransaction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerUpdateController</servlet-name>
  	<display-name>CustomerUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.CustomerUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerOperationController</servlet-name>
  	<display-name>CustomerOperationController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.CustomerOperationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticateEmployee</servlet-name>
  	<display-name>AuthenticateEmployee</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.AuthenticateEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AmountDepositController</servlet-name>
  	<display-name>AmountDepositController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.AmountDepositController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AmountWithdraw</servlet-name>
  	<display-name>AmountWithdraw</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.AmountWithdraw</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindCustomerBalanceController</servlet-name>
  	<display-name>FindCustomerBalanceController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.FindCustomerBalanceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeUpdateController</servlet-name>
  	<display-name>EmployeeUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.EmployeeUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeOperationsController</servlet-name>
  	<display-name>EmployeeOperationsController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.EmployeeOperationsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindEmployeeByIdController</servlet-name>
  	<display-name>FindEmployeeByIdController</display-name>
  	<description></description>
  	<servlet-class>com.revature.project1.bank.controller.FindEmployeeByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DispatcherSevlet</servlet-name>
  	<url-pattern>/DispatcherSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ErrorHandlerController</servlet-name>
  	<url-pattern>/ErrorHandlerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthenticateUser</servlet-name>
  	<url-pattern>/AuthenticateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeController</servlet-name>
  	<url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindCustomerById</servlet-name>
  	<url-pattern>/FindCustomerById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayEmployeeList</servlet-name>
  	<url-pattern>/DisplayEmployeeList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEmployeeController</servlet-name>
  	<url-pattern>/DeleteEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<url-pattern>/DeleteCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerControllerTransaction</servlet-name>
  	<url-pattern>/CustomerControllerTransaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerUpdateController</servlet-name>
  	<url-pattern>/CustomerUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerOperationController</servlet-name>
  	<url-pattern>/CustomerOperationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthenticateEmployee</servlet-name>
  	<url-pattern>/AuthenticateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AmountDepositController</servlet-name>
  	<url-pattern>/AmountDepositController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AmountWithdraw</servlet-name>
  	<url-pattern>/AmountWithdraw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindCustomerBalanceController</servlet-name>
  	<url-pattern>/FindCustomerBalanceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeUpdateController</servlet-name>
  	<url-pattern>/EmployeeUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeOperationsController</servlet-name>
  	<url-pattern>/EmployeeOperationsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindEmployeeByIdController</servlet-name>
  	<url-pattern>/FindEmployeeByIdController</url-pattern>
  </servlet-mapping>
</web-app>